{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página Inicial</title>
  <link rel="stylesheet" href="{% static 'css/style_projetos.css' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'projetos_favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'projetos_favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'projetos_favicon/favicon-16x16.png' %}">
</head>
<body data-theme="dark">
  <button id="toggle-theme">🌗</button>
    <section id="projetos" class="fade-in">
    <header class="fade-in">
    <h2>Meus Projetos</h2>

    <div class="card">
      <h3>nyji.xyz</h3>
      <p>Este site que você está vendo agora! Totalmente open source, feito com HTML, CSS e Django no back-end. Em constante evolução.</p>
      <a href="https://github.com/lNyji/nyji.xyz" target="_blank">Ver no GitHub</a>
    </div>

    <div class="card">
      <h3>Mais em breve...</h3>
      <p>Estou desenvolvendo novos projetos. Quando tiver algo público, você verá aqui 😁</p>
      <a href="https://github.com/lnyji" target="_blank">Ver meu GitHub</a>
    </div>
  </section>

  <footer>
    <hr />
    <h2>Obrigado por visitar!</h2>
    <p>Desenvolvido por Gabriel "Nyji" Bezerra</p>
    <p>Email: <a href="mailto:gabrielnyji@proton.me">gabrielnyji@proton.me</a></p>

    <nav>
      <a href="{% url 'home' %}">Início</a> |
      <a href="{% url 'sobre_home' %}">Sobre</a> |
      <a href="{% url 'projetos_home' %}">Projetos</a> |
      <a href="pessoal/contato.html">Contato</a> |
      <a href="jogos/index.html">Jogos</a>
    </nav>

  </footer>

  <script src="{% static 'js/projetos.js' %}"></script>
</body>
</html>
